.carousel {
  width: 100%;
  height: auto;
  @include flexJustifyCenterAlignCenter;
  flex-direction: column;
  background: linear-gradient(90deg, #121212 55.05%, #0d0d0d 100%),
    lightgray 423.482px 12.351px no-repeat;
  background-blend-mode: multiply, normal, normal;

  &__container {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 47rem;
    height: auto;
    overflow: hidden;
  }

  &__item {
    @include flexJustifyCenterAlignCenter;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: $transition;
  }

  &__imgBox {
    width: 220px;
    object-fit: cover;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__desc {
    width: 100%;
    max-width: 31.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1rem;
    gap: 1.75rem;
  }

  &__tittle {
    font-family: $popins-font;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.75rem; /* 110% */
    letter-spacing: -0.025rem;
    text-align: center;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #fff 16.06%,
      #fff 86.9%,
      rgba(255, 255, 255, 0) 106.25%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    color: $neutral-01100;
    font-family: $inter-font;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
    text-align: center;
  }

  &__btn {
    @include flexJustifyCenterAlignCenter;
    padding: 0.75rem 3.5rem;
    gap: 0.5rem;
    transition: $transition;
    border-radius: 0.5rem;
    background: $green;
    color: $neutral-07100;
    text-align: center;
    font-family: $inter-font;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: -0.025rem;
    width: fit-content;
    margin-top: 1.75rem;
    &:hover {
      background: $neutral-01100;
    }
  }

  &__arrowRight,
  &__arrowLeft {
    @include flexJustifyCenterAlignCenter;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.625rem;
    background: $primary-white;
    border-radius: 6.25rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.04);
    z-index: 3;
    transition: $transition;
  }

  &__arrowLeft {
    position: absolute;
    top: 40%;
  }

  &__arrowRight {
    position: absolute;
    top: 40%;
    right: 0;
  }

  &__next {
    transform: translateX(100%);
    visibility: hidden;
    z-index: -1;
  }

  &__current {
    transform: translateX(0);
    visibility: visible;
    z-index: 1;
  }

  &__prev {
    transform: translateX(-100%);
    visibility: hidden;
    z-index: -1;
  }

  &__container:hover &__arrowRight {
    visibility: visible;
  }

  &__container:hover &__arrowLeft {
    visibility: visible;
  }
}

@media screen and (min-width: 300px) {
  .carousel {
    &__container {
      min-height: 50rem;
      height: auto;
      padding: 1rem 0 0 0;
    }

    &__imgBox {
      width: 250px;
    }
  }
}

@media screen and (min-width: 768px) {
  .carousel {
    &__container {
      min-height: 38.25rem;
    }

    &__item {
      @include flexJustifyBetweenAlignCenter;
      flex-direction: row;
      padding: 3rem 1rem 0 1rem;
    }

    &__imgBox {
      width: 60%;
      height: 100%;
    }

    &__desc {
      align-items: flex-start;
      gap: 0.5rem;
      width: 60%;
      max-width: 26.5rem;
      padding: 0;
    }

    &__tittle {
      font-family: $popins-font;
      font-size: 4.5rem;
      font-weight: 500;
      line-height: 5rem;
      letter-spacing: -0.125rem;
      text-align: left;
    }

    &__text {
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 2rem;
      text-align: left;
    }

    &__btn {
      font-size: 1.125rem;
    }

    &__arrowRight,
    &__arrowLeft {
      visibility: hidden;
    }
  }
}

@media screen and (min-width: 1200px) {
  .carousel {
    &__item {
      padding: 3rem 10rem 0 10rem;
    }

    &__imgBox {
      width: 40%;
    }

    &__desc {
      width: 60%;
    }
  }
}
