.navbar2 {
  max-width: 90rem;
  padding: 1rem 1rem;
  background: $primary-white;
  @include flexJustifyBetweenAlignCenter;
  position: relative;

  &__brand {
    @include flexJustifyCenterAlignCenter;
    gap: 1rem;
  }

  &__menuBtn {
    @include commonBtn;
  }

  &__list {
    display: none;
    gap: 2.5rem;
  }

  &__item {
    @include flexJustifyCenterAlignCenter;
    color: $neutral-07100;
    font-family: $space-font;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
  }

  &__dropDown {
    background: transparent;
    font-family: inherit;
  }

  &__tools {
    display: flex;
    gap: 1rem;
  }
  &__tool {
    display: none;
    gap: 1rem;
  }

  &__search {
    background: transparent;
  }

  &__authBtn {
    display: flex;
    gap: 1rem;
  }

  &__logger {
    padding: 0.25rem 0.25rem;
    align-self: stretch;
    color: $neutral-07100;
    font-family: $space-font;
    font-size: 0.925rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.025rem;
    background: transparent;
    transition: $transition;
    &:hover {
      color: $green;
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar2 {
    &__menuBtn {
      display: none;
    }

    &__list {
      display: flex;
    }

    &__tool {
      display: flex;
    }
  }
}

@media screen and (min-width: 1200px) {
  .navbar2 {
    padding: 1rem 10rem;
  }
}
