.allProducts {
  padding: 2rem 1rem;

  &__filterBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  &__filterTools {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &__firstTools {
    display: flex;
    width: 100%;
    padding: 0.5rem 0rem;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $neutral-03100;
    border-bottom: 1px solid $neutral-03100;
    display: none;
    order: 2;
  }

  &__sign {
    display: flex;
    width: 5.5rem;
    align-items: center;
    gap: 0.5rem;
  }

  &__signText {
    color: $black-900;
    font-family: $inter-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
  }

  &__filterList {
    &--lg {
      display: none;
    }
  }

  &__sortItem {
    width: 100%;
    @include flexJustifyBetweenAlignCenter;
  }

  &__filterTittle {
    color: $brand-color;
    font-family: $inter-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    display: none;
  }

  &__topic {
    margin-bottom: 1rem;
  }

  &__filterBy {
    border-radius: 0.75rem;
    border: 1.5px solid $neutral-02100;
  }

  &__listingWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .allProducts {
    &__listingWrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (min-width: 768px) {
  .allProducts {
    &__filterTools {
      flex-direction: row;
      gap: 1rem;
    }

    &__firstTools {
      width: 25%;
      display: flex;
      order: 1;
      border: none;
    }

    &__sign {
      width: 16.375rem;
    }

    &__signText {
      font-size: 1.25rem;
      line-height: 2rem;
    }

    &__filterList {
      width: 21.075rem;
      &--sm {
        display: none;
      }
      &--lg {
        display: block;
      }
    }

    &__sortItem {
      align-self: stretch;
      order: 2;
      display: flex;
      width: 100%;
    }

    &__filterTittle {
      font-size: 1.25rem;
      line-height: 2rem;
      display: block;
      width: 60%;
    }

    &__sortBy {
      width: 21rem;
    }

    &__topic {
      color: $black-900;
      font-family: $inter-font;
      font-size: 1rem;
      line-height: 1.625rem;
    }

    &__filterBy {
      border-radius: none;
      border: none;
    }

    &__listing {
      display: flex;
      gap: 1.25rem;
    }

    &__listingWrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  .allProducts {
    padding: 3.75rem 10rem 8rem 10rem;

    &__listingWrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
