.profileLayout {
  padding: 1rem;
  margin-bottom: 5rem;

  &__headBack {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: transparent;
    color: $black-600;
    font-family: $inter-font;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  &__tittle {
    width: fit-content;
    margin: 2.5rem auto;
    color: $brand-color;
    font-family: $popins-font;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.75rem;
    letter-spacing: -0.025rem;
  }

  &__header {
    display: flex;
    padding: 2.5rem 1rem;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    border-radius: 0.5rem;
    background: $neutral-02100;
    margin-bottom: 2.5rem;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.375rem;
  }

  &__imgBox {
    width: 5.125rem;
    height: 5.125rem;
    position: relative;
  }

  &__img {
    border-radius: 50%;
  }

  &__userName {
    color: $brand-color;
    font-family: $inter-font;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem;
  }

  &__uploadBtn {
    display: inline-flex;
    padding: 0.4375rem;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 7.8125rem;
    border: 1.5px solid $primary-white;
    background: $neutral-07100;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  &__itemBox {
    @include flexJustifyBetweenAlignCenter;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 2px solid $neutral-04100;
    background: $primary-white;
    position: relative;
  }

  &__topic {
    color: $neutral-07100;
    font-family: $inter-font;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    width: 80%;
  }

  &__toggle {
    align-self: stretch;
    background: transparent;
    width: 1.5rem;
  }

  &__list {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(105%);
    display: flex;
    width: 100%;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    border-radius: 0.75rem;
    border: 1.5px solid $neutral-02100;
    background: $primary-white;
    box-shadow: 0px 64px 64px -48px rgba(15, 15, 15, 0.1);
    &--hide {
      display: none;
    }
  }

  &__item {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    color: $neutral-04100;
    font-family: $inter-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    &--active {
      color: $neutral-07100;
    }
  }

  &__details {
    margin-top: 2.5rem;
  }

  &__detail {
    display: none;
    &--active {
      display: block;
    }
  }
}

@media screen and (min-width: 768px) {
  .profileLayout {
    &__container {
      display: flex;
      gap: 4.5rem;
      width: 100%;
    }
    &__headBack {
      display: none;
    }

    &__tittle {
      width: 100%;
      text-align: center;
      margin: 5rem 0;
      font-size: 3.375rem;
      line-height: 3.625rem;
      letter-spacing: -0.0625rem;
    }

    &__header {
      width: 18.1rem;
    }

    &__imgBox {
      width: 5.125rem;
      height: 5.125rem;
    }

    &__topic {
      display: none;
    }

    &__toggle {
      display: none;
    }

    &__itemBox {
      border: none;
      gap: 0.5rem;
      background: transparent;
    }

    &__list {
      position: relative;
      transform: translateY(0);
      box-shadow: none;
      background: transparent;
      display: flex;
    }

    &__item {
      border-radius: 0;
      width: 100%;
      padding: 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.625rem;
      background: transparent;
      color: $neutral-04100;
      font-family: $inter-font;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.625rem;
      &--active {
        color: $neutral-07100;
        border-bottom: 1px solid $neutral-07100;
      }
    }

    &__details {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .profileLayout {
    padding: 1rem 10rem 0rem 10rem;
  }
}
