@import url("https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
// colors
$green: #38cb89;
$brand-color: #000;
$neutral-07100: #141718;
$primary-white: #fff;
$primary-red: #e13;
$neutral-05100: #343839;
$neutral-04100: #6c7275;
$neutral-03100: #e8ecef;
$neutral-0100: #6c7275;
$neutral-01100: #fefefe;
$neutral-02100: #f3f5f7;
$neutrals-8: #fcfcfd;
$black-100: #000;
$black-900: #121212;
$black-800: #141718;
$black-600: #605f5f;
$Neutrals-2: #23262f;
// fonts
$inter-font: "Inter", sans-serif;
$space-font: "Space Grotesk", sans-serif;
$popins-font: "Poppins", sans-serif;
// transition
$transition: 0.3s all linear;
